@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Rubik&display=swap');

*{
    color: white;
}
body{
    font-family: 'Manrope', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-image: url(../img/fondo.png);
    background-repeat: repeat-x;
    background-color: #fff
}


h1{
    font-size:xx-large;
}
#datos{
    background-color: white;
}
